.auth__main{
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.auth__box-container{
    background-color: $soft-white;
    box-shadow: 3px 2px 20px 2px $dark-grey;
    padding: 1rem;
    width: 20rem;
    border-radius: 10px;
}

.auth__title{
    color: darken($color: $primary, $amount: 20);
    margin-bottom: 1.25rem;
    font-size: x-large;
    text-align: center;
}

.auth__input{
    color: $dark-grey;
    border: 0;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 0.625rem;
    transition: border-bottom .3s ease;
    border-radius: 5px;
    padding: 0.75rem;
    width: 100%;

    &:focus{
        outline: none;
        border-bottom: 1.5px solid $primary;
    }
}

.auth__social__networks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    width: 100%;
}

.auth__alert__error{
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
    padding: 1.025rem;
}