// Colors
$primary: #5C62C5;
$dark-grey: #36363670;
$light-grey: #d8d8d8;
$soft-white: rgba(247, 244, 244, 0.973);

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$body-text: rgba(17, 24, 39, 1);